<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="questionReader" class="dao.ReaderImpl" >
  <property name = "path" value = "resources/Questions01.csv"></property>
   </bean>

 <bean id="examinator" class="service.ExaminatorImpl" >
  <property name = "reader" ref = "questionReader"></property>
   </bean>
</beans>
