<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<head>
<meta charset="UTF-8">
<title>St.Thyme's Online Library</title>
</head>
<body>
	<h1>Онлайн-библиотека имени Св.Тимьяна Неизвестного</h1>
	<h1>
		<span style="font-size: 18px;">Сейчас доступны:</span>
	</h1>
	<ol>
		<li>
			<a href="book_edit.html">Толстой Лев Николаевич: "Война и Мир" (Философский роман)</a>
		</li>
	</ol>
	<a th:href="@{/create}" href="book_edit.html">Добавить книгу</a>
	<script>
		$(function () 
		{	  
         	$.get('/api/books').done(function (books) 
         	{
         	    $('li').remove();
         		books.forEach(function (book) 
         		{
            		$('ol').append(`
                    <li>
                    	<a href="${book.editLink}">${book.screenName}</a>
                    </li>
                	`)               
            	});	
        	})
   		 });
    </script>
</body>
</html>